
<section class="content-section bg-light" id="portfolio">

    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0"></h3>
            <h2 class="mb-5"></h2>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Yeni Çıkan Filmler</div>
                            <p class="mb-0">Burada Yeni Filmler Var!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../../assets/img/portfolio-1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Rastgele Film Öner</div>
                            <p class="mb-0">Rastgele Film Gelsin</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../../assets/img/portfolio-2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">IMDB TOP 250</div>
                            <p class="mb-0">250 Filmi Listeler</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../../assets/img/portfolio-3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">BİZİM TOP 100 LİSTEMİZ</div>
                            <p class="mb-0">Burada ya top 100 listesi ya da eleştiri bölümü bulunsun.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../../assets/img/portfolio-4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>