<nav class="nav">
    <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
    <label class="nav__trigger-finger" for="trigger">
      <span></span>
    </label>
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#hoi" class="nav__link">
          <span class="nav__text">
            Work
          </span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#hoi" class="nav__link">
          <span class="nav__text">
            About
          </span>
        </a>
        <input class="nav__submenu-trigger-input" type="checkbox" id="submenu-trigger" />
        <label class="nav__submenu-trigger-finger" for="submenu-trigger"></label>
        <ul class="nav__list-child">
          <li class="nav__item">
            <a href="#hoi" class="nav__link">
              <span class="nav__text">
                About me
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#hoi" class="nav__link">
              <span class="nav__text">
                About meerkats
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a href="#hoi" class="nav__link">
          <span class="nav__text">
            Blog
          </span>
        </a>
      </li>
      <li class="nav__item">
        <a href="#hoi" class="nav__link">
          <span class="nav__text">
            Contact
          </span>
        </a>
      </li>
    </ul>
  </nav>
  