<nav class="nav">
    <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
    <label class="nav__trigger-finger" for="trigger">
      <span></span>
    </label>
    <ul class="nav__list">
      <li class="nav__item">
        <a  class="nav__link">
          <span class="nav__text">
            <!-- horizontal -->

<!-- <h4>Horizontal Flip</h4> -->
<div class="flip">
    <div class="front" style="background-image: url(https://1.bp.blogspot.com/-osv6rxmXSEE/XMdFyXoHQOI/AAAAAAAAB8Q/t10QcW7VAzsuW7weGA9PmQD0xMxVH67NgCKgBGAs/w0/john-wick-3-keanu-reeves-uhdpaper.com-4K-12.jpg)">
       <h1 class="text-shadow">AKSIYON</h1>
    </div>
    <div class="back" style="background-image: url(https://images.hdqwalls.com/wallpapers/final-score-2018-action-movie-97.jpg)">
      <h1 class="text-shadow">ACTION</h1>
    </div>
</div>
<div class="flip">
  <div class="front" style="background-image: url(https://wallpaperaccess.com/full/3726109.jpg)">
     <h1 class="text-shadow">KOMEDI</h1>
  </div>
  <div class="back" style="background-image: url(https://img.wallpapersafari.com/tablet/768/1024/90/48/gYcPNq.jpg)">
    <h1 class="text-shadow">COMEDY</h1>
  </div>
</div>

<div class="flip flip-vertical">
  <div class="front" style="background-image: url(https://images.hdqwalls.com/wallpapers/parasite-movie-rd.jpg)">
     <h1 class="text-shadow">DRAM</h1>
  </div>
  <div class="back" style="background-image: url(https://wallpaperset.com/w/full/a/8/7/344909.jpg)">
    <h1 class="text-shadow">DRAMA</h1>
  </div>
</div>

<div class="flip">
  <div class="front" style="background-image: url(https://i.pinimg.com/originals/cb/08/61/cb0861669c2e0a420b9607beaa691840.jpg)">
     <h1 class="text-shadow">FANTASTIK</h1>
  </div>
  <div class="back" style="background-image: url(https://wallpapercave.com/wp/wp4119586.jpg)">
    <h1 class="text-shadow">FANTASY</h1>
  </div>
</div>

<div class="flip flip-vertical">
  <div class="front" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/158/844/878/halloween-horror-thriller-2018-wallpaper-preview.jpg)">
     <h1 class="text-shadow">KORKU</h1>
  </div>
  <div class="back" style="background-image: url(https://images2.alphacoders.com/863/thumb-1920-863789.jpg)">
    <h1 class="text-shadow">HORROR</h1>
  </div>
</div>

<div class="flip">
  <div class="front" style="background-image: url(https://wallpaperaccess.com/full/1829455.jpg)">
     <h1 class="text-shadow">ROMANTIK</h1>
  </div>
  <div class="back" style="background-image: url(https://images2.alphacoders.com/789/thumb-1920-789853.jpg)">
    <h1 class="text-shadow">ROMANCE</h1>
  </div>
</div>


<div class="flip flip-vertical">
  <div class="front" style="background-image: url(https://images5.alphacoders.com/340/thumb-1920-340326.jpg)">
     <h1 class="text-shadow">WESTERN</h1>
  </div>
  <div class="back" style="background-image: url(https://images3.alphacoders.com/671/thumb-1920-671289.jpg)">
    <h1 class="text-shadow">WESTERN</h1>
  </div>
</div>

<div class="flip">
  <div class="front" style="background-image: url(https://cutewallpaper.org/21/wallpaper-ai/Alarming-Artificial-Intelligence-The-AI-Documentary-Cool-.jpg)">
     <h1 class="text-shadow">DIGER</h1>
  </div>
  <div class="back" style="background-image: url(https://cdn.hipwallpaper.com/i/12/41/t70b5K.jpg)">
    <h1 class="text-shadow">OTHERS</h1>
  </div>
</div>


<br>

<!-- vertical -->


<div class="flip flip-vertical">
  <div class="front" style="background-image: url(https://cutewallpaper.org/21/wallpaper-ai/Alarming-Artificial-Intelligence-The-AI-Documentary-Cool-.jpg)">
    <h1 class="text-shadow">IMDB</h1>
 </div>
 <div class="back" style="background-image: url(https://cdn.hipwallpaper.com/i/12/41/t70b5K.jpg)">
   <h1 class="text-shadow">IMDB</h1>
 </div>
</div>

<div class="flip ">
  <div class="front" style="background-image: url(https://cutewallpaper.org/21/wallpaper-ai/Alarming-Artificial-Intelligence-The-AI-Documentary-Cool-.jpg)">
    <h1 class="text-shadow">DIGER</h1>
 </div>
 <div class="back" style="background-image: url(https://cdn.hipwallpaper.com/i/12/41/t70b5K.jpg)">
   <h1 class="text-shadow">OTHERS</h1>
 </div>
</div>

<div class="flip flip-vertical">
  <div class="front" style="background-image: url(https://cutewallpaper.org/21/wallpaper-ai/Alarming-Artificial-Intelligence-The-AI-Documentary-Cool-.jpg)">
    <h1 class="text-shadow">DIGER</h1>
 </div>
 <div class="back" style="background-image: url(https://cdn.hipwallpaper.com/i/12/41/t70b5K.jpg)">
   <h1 class="text-shadow">OTHERS</h1>
 </div>
</div>
<div class="flip ">
  <div class="front" style="background-image: url(https://cutewallpaper.org/21/wallpaper-ai/Alarming-Artificial-Intelligence-The-AI-Documentary-Cool-.jpg)">
    <h1 class="text-shadow">DIGER</h1>
 </div>
 <div class="back" style="background-image: url(https://cdn.hipwallpaper.com/i/12/41/t70b5K.jpg)">
   <h1 class="text-shadow">OTHERS</h1>
 </div>
</div>
          </span>
        </a>
      </li>
      
    </ul>
  </nav>
  