
<nav class="nav">
  <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
  <label class="nav__trigger-finger" for="trigger">
    <span></span>
  </label>
  <ul class="nav__list">
    <li class="nav__item">
      <a  class="nav__link">
        <span class="nav__text">
<div class="flip" *ngFor="let categories of movieCategories; let i = index;"  (click)="goToGenres(categories.id)">
  <div  class="front" style="background-image: url('{{ imagePaths[i].firstImage}}')">
     <h1 class="text-shadow">{{categories.name}}</h1>
  </div>
  <div class="back" style="background-image: url('{{imagePaths[i].secondImage}}')">
    <h1 class="text-shadow">{{categories.name}}</h1>
  </div>
</div>
        </span>
      </a>
    </li>
    
  </ul>
</nav>
