
<nav class="nav">
  <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation"/>
  <label class="nav__trigger-finger" for="trigger">
    <span></span>
  </label>
  <ul class="nav__list">
    <li class="nav__item">
      <a  class="nav__link">
        <span class="nav__text">

          <!-- horizontal -->

<!-- <h4>Horizontal Flip</h4> -->
<div class="flip" *ngFor="let categories of movieCategories; let i = index;"  (click)="goToGenres(categories.id)">
  <div  class="front" style="background-image: url('{{ imagePaths[i].firstImage}}')">
     <h1 class="text-shadow">{{categories.name}}</h1>
  </div>
  <div class="back" style="background-image: url('{{imagePaths[i].secondImage}}')">
    <h1 class="text-shadow">{{categories.name}}</h1>
  </div>
</div>
<!-- <div class="flip" value="35">
<div class="front" style="background-image: url('../../../assets/img/menu/comedy_1.jpg')">
   <h1 class="text-shadow">KOMEDI</h1>
</div>
<div class="back" style="background-image: url('../../../assets/img/menu/comedy_2.jpg')">
  <h1 class="text-shadow">COMEDY</h1>
</div>
</div>

<div class="flip flip-vertical" value="18">
<div class="front" style="background-image: url('../../../assets/img/menu/dram_1.jpg')">
   <h1 class="text-shadow">DRAM</h1>
</div>
<div class="back" style="background-image: url('../../../assets/img/menu/dram_2.jpg')">
  <h1 class="text-shadow">DRAMA</h1>
</div>
</div>

<div class="flip" value="14">
<div class="front" style="background-image: url('../../../assets/img/menu/fantasy_1.jpg')">
   <h1 class="text-shadow">FANTASTIK</h1>
</div>
<div class="back" style="background-image: url('../../../assets/img/menu/fantasy_2.jpg')">
  <h1 class="text-shadow">FANTASY</h1>
</div>
</div>

<div class="flip flip-vertical" value="27">
<div class="front" style="background-image: url('../../../assets/img/menu/horror_1.jpg')">
   <h1 class="text-shadow">KORKU</h1>
</div>
<div class="back" style="background-image: url('../../../assets/img/menu/horror_2.jpg')">
  <h1 class="text-shadow">HORROR</h1>
</div>
</div>

<div class="flip" value="10749">
<div class="front" style="background-image: url('../../../assets/img/menu/romance_1.jpg')">
   <h1 class="text-shadow">ROMANTIK</h1>
</div>
<div class="back" style="background-image: url('../../../assets/img/menu/romance_2.jpg')">
  <h1 class="text-shadow">ROMANCE</h1>
</div>
</div>


<div class="flip flip-vertical" value="37">
<div class="front" style="background-image: url('../../../assets/img/menu/western_1.jpg')">
   <h1 class="text-shadow">WESTERN</h1>
</div>
<div class="back" style="background-image: url('../../../assets/img/menu/western_2.jpg')">
  <h1 class="text-shadow">WESTERN</h1>
</div>
</div>

<div class="flip">
<div class="front" style="background-image: url('../../../assets/img/menu/other_1.jpg')">
   <h1 class="text-shadow">DIGER</h1>
</div>
<div class="back" style="background-image: url('../../../assets/img/menu/other_2.jpg')">
  <h1 class="text-shadow">OTHERS</h1>
</div>
</div> -->

<!-- vertical -->

<!-- 
<div class="flip flip-vertical">
<div class="front" style="background-image: url(https://cutewallpaper.org/21/wallpaper-ai/Alarming-Artificial-Intelligence-The-AI-Documentary-Cool-.jpg)">
  <h1 class="text-shadow">İLETİŞİM</h1>
</div>
<div class="back" style="background-image: url(https://cdn.hipwallpaper.com/i/12/41/t70b5K.jpg)">
 <h1 class="text-shadow">CONTACT</h1>
</div>
</div>

<div class="flip ">
<div class="front" style="background-image: url(https://cutewallpaper.org/21/wallpaper-ai/Alarming-Artificial-Intelligence-The-AI-Documentary-Cool-.jpg)">
  <h1 class="text-shadow">YARDIM</h1>
</div>
<div class="back" style="background-image: url(https://cdn.hipwallpaper.com/i/12/41/t70b5K.jpg)">
 <h1 class="text-shadow">HELP</h1>
</div>
</div>

<div class="flip flip-vertical">
<div class="front" style="background-image: url(https://cutewallpaper.org/21/wallpaper-ai/Alarming-Artificial-Intelligence-The-AI-Documentary-Cool-.jpg)">
  <h1 class="text-shadow">?</h1>
</div>
<div class="back" style="background-image: url(https://cdn.hipwallpaper.com/i/12/41/t70b5K.jpg)">
 <h1 class="text-shadow">?</h1>
</div>
</div>
<div class="flip ">
<div class="front" style="background-image: url(https://cutewallpaper.org/21/wallpaper-ai/Alarming-Artificial-Intelligence-The-AI-Documentary-Cool-.jpg)">
  <h1 class="text-shadow">DIGER</h1>
</div>
<div class="back" style="background-image: url(https://cdn.hipwallpaper.com/i/12/41/t70b5K.jpg)">
 <h1 class="text-shadow">OTHERS</h1>
</div>
</div> -->
        </span>
      </a>
    </li>
    
  </ul>
</nav>
