<div #navigation class="navigation" >
  <div class="ham-btn" (click)="showNav()">
    <span></span>
    <span></span>
    <span></span>
    
  </div>
  <div class="links">

    <div class="link">
      <a>  
    <app-search (searchMovie)="goToSearchPage($event.value)" [activePage]="activePage"></app-search>
  </a>
  </div>
    <div class="link">
      <a href="/menu/categories">Kategoriler</a>
    </div>
    <div class="link">
      <a href="/menu/lists">Listeler</a>
    </div>
    <div class="link">
      <a href="/">Film Eleştirileri (Yakında)</a>
    </div>
    <div class="link">
      <a href="#">İletişim</a>
    </div>
  </div>
</div>


