.menu {
    
    background: black;
    text-align: center;
    height: 100%;
}

hr {
    background: #33cc33;
}

.icon-social {
    margin-top: 254px;
}

.background {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.background::before {
    content: '';
    position: absolute;
    background: linear-gradient(to top, black, 80%, transparent);
    width: 100%;
    height: 100%;
}

.background-content {
    position: relative;
    padding: 50px;
}

.background-content h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
}

.background-content h3 {
    color: white;
}

.background-content p {
    color: white;
}

.background-content h6 {
    color: white;
    margin: 10px 0;
}

.background-content button {
    padding: 10px 15px;
    background: #13c683;
    color: white;
}

.background-content button:first-of-type {
    padding: 10px 15px;
    background: #104847;
    color: white;
}

.popular-movie {
    position: absolute;
    bottom: 4.5em;
}

.popular-movie p {
    color: rgb(245, 238, 238);
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.popular-movie img {
    transition: .5s;
}

.popular-movie img:hover {
    box-shadow: 0 0px 10px rgba(96, 45, 191, 0.5);
    transform: translateY(-10px);
}

.movie {
    transform: scale(1.3);
    margin-bottom: 20px;
}

.star {
    position: relative;
    opacity: 1;
    display: inline-block;
    width: 0;
    height: 0;

    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #fff3b2;
    border-left:   .3em solid transparent;
  
    /* Controlls the size of the stars. */
    font-size: 2.2rem;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #fff3b2;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
      
    }
  }

  .star-content {
      position: absolute;
      top: 37%;
      left: 37% ;
      z-index: 999999;
      text-align: center ;
  }

  .star-content span {
      color: #41584b;
      font-size: 1.3rem;
      margin: -24px;
      color: teal;
      font-weight: bolder;
      font-family: 'Sege UI', Tahoma, Geneva, Verdana, sans-serif
      
      
    }

