<div id="page-top">

   
        <div class="row no-gutters">
            <div class="col-xl-1">
                <div class="menu">
                    <h6 class="bg-warning text-dark">
                        MOVIE
                    </h6>
                    <p class="mt-5">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <br>
                        Account
                    </p>
                    <br>
                    <p class="mt-5">
                        <i class="fa fa-home text-warning"></i>
                        <br>
                        Home
                    </p>
                    <br>
                    <p class="mt-5">
                        <i class="fa fa-user text-video"></i>
                        <br>
                        Video
                    </p>
                    <br>
                    <p class="mt-5">
                        <i class="fa fa-user text-warning"></i>
                        <br>
                        Account
                    </p>
                    <br>
                    <p class="mt-5">
                        <i class="fa fa-user text-warning"></i>
                        <br>
                        Account
                    </p>
                    <br>
                    <div class="row no-gutters justify-content-center icon-social">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook m-2"></i>
                        <i class="fab fa-twitter ml-2"></i>
                    </div>
                </div>
            </div>
            <div class="col-xl-11">
                <div class="background">
                    <div class="background-content">
                        <h1 class="display-3">The Witcher</h1>
                        <p>Season 1</p>
                        <div class="star">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-dark"></i>
                        </div>
                        <h6>Crime | Drame | Mystery</h6>
                        <button class="btn">
                            <i class="fa fa-play"></i>
                        </button>
                        <button class="btn">
                            <i class="fa fa-plus"></i>
                        </button>
                        <div class="row no-gutters mt-3">
                            <img src="https://i.pinimg.com/originals/57/b9/ae/57b9ae81d5d3c4d124758103c224f380.jpg" width="200" alt="">
                            <img src="https://i.pinimg.com/originals/57/b9/ae/57b9ae81d5d3c4d124758103c224f380.jpg" width="200" alt="">
                            <img src="https://i.pinimg.com/originals/57/b9/ae/57b9ae81d5d3c4d124758103c224f380.jpg" width="200" alt="">
                        </div>
                        <p class="w-50 text-muted mt-3">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, quasi? Iusto ipsa nesciunt molestias nostrum molestiae! Repellat magnam earum facere blanditiis odit similique officia eius vitae neque, est ipsa ducimus natus ipsum voluptas ex ad a sint quae quod praesentium beatae animi repudiandae! Nobis, vero dolore consectetur maxime magnam explicabo.
                        </p>
                    </div>
                    <div class="row no-gutters popular-movie">
                        <div class="col-xl-1 ml-5">
                            <img src="../../../assets/img/popular_movies.jpg" class="img-fluid" alt="">
                            <p>Game of Thrones</p>
                        </div>

                        <div class="col-xl-1 ml-5">
                            <img src="../../../assets/img/popular_movies.jpg" class="img-fluid" alt="">
                            <p>Game of Thrones</p>
                        </div>


                        <div class="col-xl-1 ml-5">
                            <img src="../../../assets/img/popular_movies.jpg" class="img-fluid" alt="">
                            <p>Game of Thrones</p>
                        </div>


                        <div class="col-xl-1 ml-5">
                            <img src="../../../assets/img/popular_movies.jpg" class="img-fluid" alt="">
                            <p>Game of Thrones</p>
                        </div>


                        <div class="col-xl-1 ml-5">
                            <img src="../../../assets/img/popular_movies.jpg" class="img-fluid" alt="">
                            <p>Game of Thrones</p>
                        </div>


                        <div class="col-xl-1 ml-5">
                            <img src="../../../assets/img/popular_movies.jpg" class="img-fluid" alt="">
                            <p>Game of Thrones</p>
                        </div>


                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


