<div class="container">
    <div class="row">
      <!-- <div class="mr-2" *ngFor="let directors of director">
        <div class="our-team align-items:center">
          <div class="picture">
            <img class="img-fluid" src="https://image.tmdb.org./t/p/w45/{{directors?.profile_path}}">
            <h4 class="title">{{directors?.name}}</h4>
          </div>
        </div>
      </div> -->
      <div class="ml-2" *ngFor="let cast of castDetails">
        <div class="our-team">
          <div *ngIf="cast?.profile_path !==null" class="picture">
            <img  class="img-fluid" src="https://image.tmdb.org/t/p/w45/{{cast?.profile_path}}" (click)="goToPersonPage(cast?.id)" alt="">
          </div>
          <div *ngIf="cast?.profile_path == null">
              <br>
          </div>
          <div class="team-content mt-2">
            
            <h3 style="color: rgba(245, 245, 245, 0.849); font-size: 1.1rem; cursor: pointer;" class="name">{{cast.name}}</h3>
            <h4 class="title">{{cast.character}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>