body {
  font-family: tahoma;
  display: flex;
  align-items: center;
}

.our-team {
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  cursor: pointer;
  height: 45px;
  width: 45px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color:  transparent;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(4);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px transparent;
  transform: scale(0.85);
}

.our-team .title {
  display: block;
  color: rgba(245, 245, 245, 0.849); 
  font-size: .8rem; 
  font-family: cursive;
  text-transform: capitalize;
}


