img:hover {
  transform: translateY(-5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
  transition: .2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.05s;
  border: 10px solid transparent black;
}