$white: #fff !default;


.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%),   url('../../../../assets/img/bg-masthead.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      font-size: 4rem;
      margin: 0;
      padding: 0;
    }
    @media (min-width: 992px) {
      height: 100vh;
      h1 {
        font-size: 5.5rem;
      }
  
    
  }
}  

.background {
  background-size: cover;

  position: relative;
}

.carousel-item {
  height: 35rem;
}

.carousel-caption p {
  padding: 0 1rem;
  font-weight: bold;
  // background-color:rgba(185, 184, 184, 0.1);
  color: rgb(243, 243, 243)
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .carousel-item {
    height: 50rem;
  } 
  .carousel-item img {
    height: 50rem;
  }
}