* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.main-text {
    font-weight: bold;
}

.metacritic {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Metacritic_logo.svg/320px-Metacritic_logo.svg.png');

    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    
    position: relative;
}