@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;


   
}

.card-text {
    color: rgba(245, 245, 245, 0.849); 
    
   
}

.card-body:hover {
    transform: translateY(-10px);
    transition: .7s;

}