* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: tahoma;

   
}

.card-text {
    color: rgba(245, 245, 245, 0.849); 
    font-size: .9rem; 
    font-family: cursive;
    font-weight: bold;
}

.card-body:hover {
    transform: translateY(-10px);
    transition: .7s;

}