<div class="container">
  <div class="card-group mw-100 mr-5" >
    <div class="card bg-primary ">
      <div class="card-body text-center">
        <p class="card-text"><span class="h5 main-text" style="color:  rgb(11, 41, 41);">Metacritic</span> PUANI</p>
          <p class="card-text">{{metacriticScore}}/100</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text"> <span class="h4 main-text" style="color: rgb(11, 41, 41);">IMDB</span> <br>PUANI</p>
        <p class="card-text">{{imdbScore}}/10</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text"><span class="h4 main-text" style="color: rgb(11, 41, 41);">FilmBul</span> PUANI</p>
        <p class="card-text">{{weScore}}/10</p>
      </div>
    </div>
  </div>
</div>