<body>
    <div class="container">

        <div class="card" *ngFor="let trendMovie of getMovies">
            <div class="face face1">
                <div class="content">
                    <div class="icon" routerLink="/movie/{{trendMovie.id}}">
                        <img class="fa" src="https://image.tmdb.org/t/p/w300/{{trendMovie.poster_path}}">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a target="_blank">{{trendMovie.title}}</a>
                    </h3>
                    <p>{{trendMovie.overview}}</p>
                </div>
            </div>
        </div>
    </div>
</body>