
<div class="container">
  <div class="name">
    <svg class="gear">
      <path d="M15 6.675l-1.8-.6c-.2-.1-.3-.3-.2-.4l.9-1.7c.6-1.2-.7-2.5-1.9-1.9l-1.7.9c-.1.1-.3 0-.4-.2l-.6-1.8c-.4-1.3-2.2-1.3-2.6 0l-.6 1.8c-.1.2-.3.3-.4.2l-1.7-.9c-1.2-.6-2.5.7-1.9 1.9l.9 1.7c.1.1 0 .3-.2.4l-1.8.6c-1.3.4-1.3 2.3 0 2.7l1.8.6c.2 0 .3.2.2.3l-.9 1.7c-.6 1.2.7 2.5 1.9 1.9l1.7-.9c.2-.1.4 0 .4.2l.6 1.8c.4 1.3 2.3 1.3 2.7 0l.6-1.8c.1-.2.3-.3.4-.2l1.7.9c1.2.6 2.5-.7 1.9-1.9l-1-1.7c-.1-.2 0-.4.2-.4l1.8-.6c1.3-.4 1.3-2.2 0-2.6zm-7 3.7c-1.3 0-2.4-1.1-2.4-2.4 0-1.3 1.1-2.4 2.4-2.4 1.3 0 2.4 1.1 2.4 2.4 0 1.3-1.1 2.4-2.4 2.4z" fill="#4c4f5a">     </path>
    </svg>
    <h4>Click on the radio buttons or labels</h4>
  </div>
  <input type="radio" name="field" id="Uno"/>
  <label for="Uno">
    <svg class="check" viewbox="0 0 40 40">
      <defs>
        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
          <stop offset="0%" stop-color="#ff8a00"></stop>
          <stop offset="100%" stop-color="#da1b60"></stop>
        </linearGradient>
      </defs>
      <circle id="border" r="18px" cx="20px" cy="20px"></circle>
      <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
    </svg>I like this work
  </label>
  <input type="radio" name="field" id="Dos"/>
  <label for="Dos">
    <svg class="check" viewbox="0 0 40 40">
      <defs>
        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
          <stop offset="0%" stop-color="#ff8a00"></stop>
          <stop offset="100%" stop-color="#da1b60"></stop>
        </linearGradient>
      </defs>
      <circle id="border" r="18px" cx="20px" cy="20px"></circle>
      <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
    </svg>Share in social networks
  </label>
  <input type="radio" name="field" id="Tres"/>
  <label for="Tres">
    <svg class="check" viewbox="0 0 40 40">
      <defs>
        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
          <stop offset="0%" stop-color="#ff8a00"></stop>
          <stop offset="100%" stop-color="#da1b60"></stop>
        </linearGradient>
      </defs>
      <circle id="border" r="18px" cx="20px" cy="20px"></circle>
      <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
    </svg>Follow the author
  </label>
</div>
<div class="btn"><a href="https://codepen.io/andrejsharapov/pen/GzaMRq" target="_blank" title="">Styles for the Checkboxes</a><a href="https://twitter.com/andrejsharapov" target="_blank" title="">Follow me in Twitter</a></div>